{% extends 'base.html' %}
{% load static %}

{% block body %}
    Встречи
    <a type="button" class="btn btn-primary btn-sm px-4 me-md-2" href="{% url 'addMeet' %}">Создать встречу</a>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            {% for meet in meets %}
                <div class="col">
                    <div class="card mb-3" style="max-width: 520px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://rb.ru/media/upload_tmp/2018/rrr_8wF22BW.jpg" class="img-fluid"
                                     alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ meets.title }}</h5>
                                    <p class="card-text">{{ meets.title|truncatechars_html:150 }}</p>
                                    <p class="card-text"><small class="text-muted">{{ meets.title }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}

