{% extends 'base.html' %}
{% load static %}

{% block body %}
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">{{ event.title }}</h1>
            <img src="{{ event.e_photo.url }}" alt="" height="500" width="500">
          <p class="fs-5 text-muted">{{ event.info }}</p>
        </div>


{#    <div class="row featurette">#}
{#        <div class="col-md-7">#}
{#            <h2 class="featurette-heading fw-normal lh-1">{{ event.title }}</h2>#}
{#            <p class="lead">{{ event.info }}</p>#}
{#        </div>#}
{#        <div class="col-md-5">#}
{#            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"#}
{#                 height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"#}
{#                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>#}
{#                <rect width="100%" height="100%" fill="#eee"></rect>#}
{#                <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>#}
{#            </svg>#}
{#        </div>#}
{#    </div>#}


{% endblock %}